@import url("_core/css/temas_colores_fuentes.css");

*{
   margin: 0;
   box-sizing: border-box;
   padding: 0px;
}

body{

   color: var(--light-color-texto);
   background-color: var(--light-color-fondo);

}

a{
   text-decoration: none;
}


#encabezado-principal {
   background-color: var(--light-color-acento-1);
   color: var(--light-color-texto);
   font-family: 'Titillium Web',sans-serif;
   display: flex;
   padding: 7px;
   
}


.logo-img{
   height: 40px;
   width: 40px;
}

.titulogo{
   display: inline;
}

.a-header{
   color: var(--light-color-texto);
}

#navegacion-categoria{
   background-color: var(--light-color-acento-3);
   font-family: 'Nunito Sans',sans-serif;
   align-items: center;
   display: flex;
   justify-content: center;
}


.tab-categoria{
   color: var(--light-color-acento-2);
   font-weight: 500; 
   margin: auto;
}

.tab-categoria:hover{
color: var(--dark-color-acento-2);
}


#seccion-categoria {
   min-height: 720px;
   background-color: var(--light-color-acento-2);
   font-family: 'Mukta Vaani',sans-serif;
   
}

.articulo-categoria {
   border: solid 3px var(--light-color-acento-1);
}

.item-valor-portada{
   width: 400px;
   height: 300px
}

#footer-principal {
   background-color: var(--light-color-acento-3);
   color: var(--light-color-texto);
   font-family: 'Titillium Web',sans-serif;
}

#qr-code {
   width:100px;
   height:100px;
}
