@import url("../_core/css/temas_colores_fuentes.css");

* {
   color: var(--light-color-texto);
   font-family: 'Titillium Web',sans-serif;
}

body {
   display: flex;
   justify-content: center;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   border: solid var(--light-color-acento-3);
   border-radius: 20px;
   width: 400px;
   height:70%;
}

input {
   padding: 10px;
   width: 200px;
   font-size: 15px;
   border: 1px solid grey;
   border-radius: 3px;
   outline: none;
}

#contraseña {
   border: none;
   height: 10px;
   outline: none;
}

#contenedor-password {
   margin-top: 15px;
   display: flex;
   flex-direction: row;
   align-items: center;
   border: 1px solid grey;
   border-radius: 3px;
   width: 220px;
   height: 43px;
}

.material-symbols-outlined {
   margin-right: 5px;
   color: var(--light-color-acento-3);
}

.material-symbols-outlined:hover {
   color: var(--light-color-acento-1);
   cursor: pointer;
}

#recuperar-contraseña {
   font-size: 14px;
   margin-top: 8px;
   margin-bottom: 8px;
}

p {
   font-size: 15px;
}

a:hover {
   color: var(--light-color-acento-1);
}

a {
   text-decoration: none;
   color: var(--light-color-acento-3);
}

#boton-enviar  {
   color: var(--dark-color-texto);
   font-size: 15px;
   background-color: var(--light-color-acento-3);
   width: 220px;
   margin-top: 25px;
   padding: 10px;
   border: 1px solid grey;
   border-radius: 3px;
}

#boton-enviar:hover {
   background-color: var(--light-color-acento-1);
   cursor: pointer;
}

#boton-enviar:disabled {
   background-color: lightgrey;
   color: var(--light-color-texto);
   cursor: not-allowed;
}

#contenedor-terminos {
   margin: -10px 5px 5px 5px;
   padding: 5px;
}

#terminos-condiciones {
   font-size: 12px;
}

span:hover {
   color: var(--light-color-acento-1) !important;
   cursor: pointer;
}

#msjMail{

   align-items: center;
   justify-content: center;
   display: none;
   font-size: 90%;

}

#msjContraseña{

   display: none;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 90%;

}