@import url("../_core/css/temas_colores_fuentes.css");
body{

   color: var(--light-color-texto);
   background-color: var(--light-color-fondo);
   margin: auto;
}

#encabezado-principal {
   background-color: var(--light-color-acento-3);
   color: var(--light-color-texto);
   font-family: 'Titillium Web',sans-serif;
   display: flex;
   flex-direction: column;
}

#encabezado-primera-linea {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 5px 10px 5px 10px;
   height: 100px;
}

#encabezado-segunda-linea {
   border-top: 3px solid;
   border-top-color: var(--light-color-acento-1);
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

#logo {
   width: 40px;
   height: 40px;
}

#titulogo {
   display: flex;
   align-items: center;
}

.a-logo{
   text-decoration: none;
   color: var( --light-color-texto);
}


#buscador-contenedor {
   align-items: center;
   display: flex;
   flex-direction: row;
   width: 500px;
   height: 50px;
   background-color: var(--light-color-acento-1);
   border-radius: 28px;
   margin-left: 10px;
}

#buscador-logo{
   font-size: 30px !important;
   margin-left: 10px;
}

#buscador{
   border: none;
   outline: none;
   width: 70%;
   height: 35px;
   background: transparent;
   margin-left: 10px;
}

#iconos-contenedor {
   width: 250px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

#iconos-contenedor .material-symbols-outlined:hover {
   color: var(--light-color-acento-2);
   cursor: pointer;
}

.material-symbols-outlined {
   font-size: 30px !important;
   color: var(--light-color-texto);
}

#navegacion-categoria {
   background-color: var(--light-color-acento-1);
   font-family: 'Nunito Sans',sans-serif;
   display: flex;
   justify-content: space-around;
}

#navegacion-categoria ul {
   text-decoration: none;
   list-style-type: none;
   display: flex;
   padding-left: 0px;
}

#navegacion-categoria ul a {
   text-decoration: none;
   color: var(--light-color-texto);
   padding: 30px;
}

#navegacion-categoria ul a:hover {
   color: var(--light-color-acento-2);
}

#navegacion-categoria .material-symbols-outlined {
   display: none;
}


#seccion-categoria{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   min-height: 720px;
   background-color: var(--light-color-acento-2);
   font-family: 'Mukta Vaani',sans-serif;
   justify-content: center;
   align-items: center;

}

.articulo-categoria {
   margin: 20px;
   border: 3px solid var(--light-color-acento-1);
   box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   width: 40%;
   
   padding: 10px;
   height: 50%;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
}

.item-valor-portada{
   width: 90%;
   height: auto !important;
   align-self: center;
}

details{
   width: 100%;
   margin-top: 30px;
}

.detalle-articulo{
   height: 300px;
   overflow: auto;
}

summary{
   list-style: none;
   display: flex;
   justify-content: center;
   cursor: pointer;
   width: 50%;
   box-sizing: border-box;
   align-self: center;
   background-color: var(--light-color-acento-1);
   padding: 5px;
   border-radius: 5px;
}




#footer-principal {
   background-color: var(--light-color-acento-3);
   color: var(--light-color-texto);
   font-family: 'Titillium Web',sans-serif;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
}

#qr-code {
   width:100px;
   height:100px;
}

.header-articulo {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.item-valor-descripcion {
   height: 100px;
   overflow: auto;
}

@media screen and (max-width: 840px) {
   *{
      font-size: 0.99em;
   }

   #titulogo {
      font-size: 16px;
   }

   #navegacion-categoria {
      flex-wrap: nowrap;
   }

   #buscador-contenedor {
      width: 45%;
   }
}

@media screen and (max-width: 780px){
   * {
      font-size: 0.98em;
   }
   #titulogo {
      font-size: 16px;
   }

}

@media screen and (max-width:740px) {
   * {
      font-size: 0.97em;
   }
   #titulogo {
      font-size: 12px;
   }

}

@media screen and (max-width:700px) {
   * {
      font-size: 0.96em;
   }
   #titulogo {
      font-size: 10px;
   }

}

@media screen and (max-width:680px) {
   * {
      font-size: 0.95em;
   }
}

@media screen and (max-width:650px) {
   * {
      font-size: 0.94em;
   }
}

@media screen and (max-width:620px) {
   * {
      font-size: 0.93em;
   }
}

@media screen and (max-width:610px) {
   
  .texto-nav {
   display: none;
  }

  #navegacion-categoria .material-symbols-outlined {
   display: inline-block;
  }

  #navegacion-categoria .material-symbols-outlined:hover {
   color: var(--light-color-acento-2);
  }

   #navegacion-categoria ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
   }

   #navegacion-categoria ul li {
      display: flex;
   }

   #navegacion-categoria ul li .tab-categoria{
      padding: 0px;
   }
}