
body{

   font-family: "Titillium Web",sans-serif;
   background-color: var(--light-color-fondo);
   display: flex;
   flex-direction: column;
   
   align-items: center;
}

.usuario{

   /*background-color: var(--light-color-acento-1);*/
   display: flex;
   flex-direction: column;
   padding: 1em;
   
}

button{

   background-color: var(--light-color-acento-3);
   color: var(--light-color-acento-2);
   border-radius: 1em;
   
}

button:hover{

   background-color: var(--light-color-acento-2);
   color: var(--light-color-texto);

}

.datos_personales{

 /*  background-color: var(--light-color-acento-1);*/
   padding: 1em;
   display: flex;
   flex-direction: column;
   gap: 5px;
   flex-wrap: wrap;
}

.guardar{

  margin-top: 1em;
   justify-content: left;
   display: flex;
   width: 10em;
   font-family: "Mukta Vaani",sans-serif;
}

h1{

   font-family: "Nunito Sans",sans-serif;

}

section{

   border-radius: 2em;
   border: solid 3px var(--light-color-acento-3);
   margin: 1em;
   width: 80%;
   box-shadow: 0px 0px 30px var(--light-color-acento-3);
 

}