@import url("_core/css/temas_colores_fuentes.css");

body{

   color: var(--light-color-texto);
   background-color: var(--light-color-fondo);

}


#encabezado-principal {
   background-color: var(--light-color-acento-3);
   color: var(--light-color-texto);
   font-family: 'Titillium Web',sans-serif;
}

#navegacion-categoria {
   background-color: var(--light-color-acento-1);
   font-family: 'Nunito Sans',sans-serif;
}

#seccion-categoria {
   min-height: 720px;
   background-color: var(--light-color-acento-2);
   font-family: 'Mukta Vaani',sans-serif;
}

.articulo-categoria {
   border: solid 3px var(--light-color-acento-1);
}

.item-valor-portada{

   width: 400px;

}

#footer-principal {
   background-color: var(--light-color-acento-3);
   color: var(--light-color-texto);
   font-family: 'Titillium Web',sans-serif;
}

#qr-code {
   width:100px;
   height:100px;
}
